[bumpversion]
current_version = 0.2.1
commit = True
tag = True

[bumpversion:file:__pkginfo__.py]

[bumpversion:file:README.rst]

[bumpversion:file:doc-source/index.rst]

[bumpversion:file:doc-source/usage.rst]

[bumpversion:file:repo_helper.yml]

[bumpversion:file:flake8_encodings/__init__.py]

[bumpversion:file:pyproject.toml]
